.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid red;
}

/* Для мобільних пристроїв (менше ніж 480px) */
@media screen and (max-width: 479px) {
    .container {
        width: 100%;
        /* Контейнер займає всю ширину екрана */
    }
}

/* Для пристроїв від 480px до 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 480px;
    }
}

/* Для пристроїв від 768px і більше */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* header */

.page-header {
    background-color: var(--primary-white-color);
}

.main-nav {
    display: flex;
}

.logo {
    color: var(--accent-yellow);
    font-family: Oswald;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.19;
    margin-right: auto;
}

.logo-blue {
    color: var(--accent-blue);
}

.nav-list {
    margin-left: auto;
}

.nav-list .item a {
    color: var(--title-text-color);
    line-height: 1.14;
}

/* hero */
.hero {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: black;
    text-align: end;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.615;
    letter-spacing: 0.04em;

    margin-bottom: 60px;
}

.hero-subtitle {
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}

.hero-text {
    text-align: start;
}

.tel-link {
    font-size: 20px;
    margin-top: 20px;
}

/* order section */
.order-list {
    outline: 1px solid blue;
    display: flex;
    gap: 5px;

}

.order-list .item {
    padding: 10px;
    text-align: center;
    flex-basis: calc((100% - 10px) / 3);
}


.order-icon {
    width: 100px;
    height: 100px;
    fill: var(--accent-yellow);

}

.order-list .item .number {
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--accent-blue);
}


/* price section */
.price-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price-list .item {
    flex-basis: calc((100% - 30px) / 2);
    align-items: center;
    padding: 10px;
}

.icon-thumb {
    margin-bottom: 10px;
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;
}

.price-icon {
    width: 70px;
    height: 70px;
}

/* preferences */

.preferences-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preferences-list .item {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.preferences-list .item:nth-child(2n) {
    background-color: #F5F4FA;
}

.preferences-list .icon-thumb {
    background-color: inherit;
    margin-bottom: 0;
}

.preferences-icon {
    width: 110px;
    height: 110px;
}

.preferences-discription .secondary-title {
    margin-bottom: 10px;
}

/* order-details */
.order-details .secondary-title {
    margin-bottom: 10px;
}

.order-details .img-thumb {
    margin-bottom: 20px;
}

.evacuation-list li {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

.evacuation-list li::before {
    content: "—";
    /* Довге тире */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--accent-blue);
    /* Помаранчевий акцент */
}

.evacuation-info strong {
    color: var(--accent-blue);
}

/* work-location */
.map-thumb {
    width: 100%;
    height: 300px;
    background-image: url('../images/ukraine-map.png');
    /* Шлях до зображення */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* section */

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-title {
    color: var(--title-text-color);
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;

}

.secondary-title {
    color: #212121;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 16px;
}

.button {
    color: var(--title-text-color);
    background: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;

    display: inline-block;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 11px 34px;
    min-width: 130px;
    text-align: center;

}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-blue);

    transition: background-color 300ms var(--transition-func), color 300ms var(--transition-func);
}

.button.primary:hover,
.button.primary:focus {
    color: var(--accent-blue);
    background: var(--primary-white-color);
    border: 1px solid var(--accent-blue);
}