.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid red;
}

/* Для мобільних пристроїв (менше ніж 480px) */
@media screen and (max-width: 479px) {
    .container {
        width: 100%;
    }
}

/* Для пристроїв від 480px до 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 480px;
    }
}

/* Для пристроїв від 768px і більше */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* header */

.page-header {
    border-bottom: 2px solid var(--primary-white-color);
    background-color: var(--primary-white-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.page-header .container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding: 20px 20px;
    z-index: 991;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-yellow);
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.5px;
    margin-right: auto;
}

@media (max-width: 410px) {
    .logo {
        font-size: 26px;
    }
}

.logo-blue {
    color: var(--accent-blue);
}

.nav-list {
    margin-left: auto;
}

.nav-list .item {
    margin-bottom: 14px;
}

.nav-list .item a {
    color: var(--title-text-color);
    line-height: 1.14;
}

.menu-button {
    background-color: transparent;
    border: none;
    display: inline-flex;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-button .icon-cross {
    display: none;
}

.menu-position {
    position: relative;
}

.menu-container {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 40px;
    font-size: 22px;

    position: absolute;
    top: 140%;
    right: 0;

    min-width: 50%;
    min-height: 50vh;
    background: var(--accent-blue);

    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;

    transform-origin: top;
    transform: scaleY(0) translateY(0);
    transition: opacity 350ms var(--transition-func), transform 350ms ease-out;
}

.menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    right: 0;
    overflow: hidden;

    top: 50%;
    transform: scaleY(1) translateY(5%);
    transition: opacity 350ms var(--transition-func), transform 350ms ease-out;
}

.menu-link {
    display: inline-block;
    width: 100%;
}

/* hero */
.hero .container {
    text-align: end;
    padding: 40px 20px;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
        url('../images/banner-opacity-min.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}


.hero-title {
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.615;
    letter-spacing: 0.04em;

    margin-bottom: 60px;
}

.hero-subtitle {
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}

.hero-text {
    text-align: start;
    color: var(--accent-yellow);
}

.tel-link {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.support-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}


/* order section */
.order-list {
    display: flex;
    gap: 2px;

}


@media (max-width: 390px) {
    .order-list {
        flex-direction: column;
    }
}

.order-list .item {
    padding: 10px;
    text-align: center;
    flex-basis: calc((100% - 4px) / 3);
}


.order-icon {
    width: 100px;
    height: 100px;
    fill: var(--accent-yellow);

}

@media (max-width: 410px) {
    .order-icon {
        width: 90px;
        height: 90px;
    }
}

.order-list .item .number {
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--accent-blue);
}


/* price section */

.price-list {
    margin-bottom: 20px;
}

@media screen and (min-width: 290px) {
    .price-list {
        display: flex;
        justify-content: space-between;
    }

}

.price-list .item {
    align-items: center;
    padding: 10px;
}

@media screen and (min-width: 290px) {
    .price-list .item {
        flex-basis: calc((100% - 30px) / 2);
    }
}



.icon-thumb {
    margin-bottom: 10px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    text-align: center;
}

.price-icon {
    width: 70px;
    height: 70px;
}

.price-additional {
    margin: 12px 0;
}

.price-text {
    margin-bottom: 16px;
}

/* preferences */

.preferences-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preferences-list {
    padding: 10px;
    align-items: center;
}



@media screen and (min-width: 290px) {

    .preferences-list .item {
        display: flex;
        gap: 20px;
    }
}


.preferences-list .item .preferences-list .item:nth-child(2n) {
    background-color: var(--secondary-bg-color);
}

.preferences-list .icon-thumb {
    background-color: inherit;
    margin-bottom: 0;
}

.preferences-icon {
    width: 100px;
    height: 100px;
}

.preferences-discription .secondary-title {
    margin-bottom: 10px;
}

/* order-details */
.order-details .secondary-title {
    margin-bottom: 10px;
}

.order-details .img-thumb {
    margin-bottom: 20px;
    max-width: 400px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.evacuation-list li,
.services-list li {
    position: relative;
    margin-bottom: 10px;
    color: #444;
}

.evacuation-list li::marker,
.price-details li::marker {
    color: var(--accent-blue);
    font-weight: bold;
}

.text-blue {
    color: var(--accent-blue);
}

/* work-location */
.districts-list {
    padding: 10px 0;
}

.map-thumb {
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    background-image: url('../images/ukraine-map-min.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}

.work-location .secondary-title {
    margin: 10px 0;
}

.districts-list {
    margin-bottom: 10px;
}

.districts-list li,
.services-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.districts-list li::before,
.services-list li::before {
    content: "—";
    position: absolute;
    left: 0;
    color: var(--accent-blue);
    font-weight: bold;
}

.action-text {
    margin-top: 10px;
    font-size: 17px;
}

/* reviews */

.reviews {
    background-color: var(--secondary-bg-color);
}

.reviews-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.reviews {
    display: flex;
    gap: 20px;
}

.review {
    flex: 0 0 80%;
    max-width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
}

.review-avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.review-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.review-stars {
    color: var(--accent-yellow);
    font-size: 18px;
    margin-bottom: 10px;
}

.review-text {
    color: #333;
}

/* about */

.about p:not(:last-child) {
    margin-bottom: 10px;
}

.footer {
    padding: 20px 0;
    letter-spacing: -0.5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}

.privacy-container {
    margin-top: 20px;
    text-align: center;
}

.privacy-policy {
    color: var(--primary-text-color);
    text-decoration: underline;
}

/* privacy-policy page */

.privacy-header.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-header.page-header .container {
    background: inherit;
}

.privacy-header .back {
    color: var(--accent-blue);
}

.section.privacy {
    border-top: 1px solid var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
}

.privacy-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--title-text-color);
}

.privacy-list .item {
    margin-top: 16px;

}

/* section */

.services-subtitle {
    margin-bottom: 20px;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    color: var(--title-text-color);
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.4;

}

.secondary-title {
    color: #212121;
    text-transform: uppercase;
}

@media (max-width: 490px) {
    .secondary-title {
        font-size: 15px;
        letter-spacing: 0.01em;
    }
}

.button {
    color: var(--title-text-color);
    background: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 11px 18px;
    min-width: 120px;
    text-align: center;

}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-blue);

    transition: background-color 300ms var(--transition-func), color 300ms var(--transition-func);
}

.button.primary:hover,
.button.primary:focus {
    color: var(--accent-blue);
    background: var(--primary-white-color);
    border: 1px solid var(--accent-blue);
}

.sticky-call-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,
            var(--accent-blue) 10%,
            rgba(56, 163, 253, 0.8) 60%,
            rgba(255, 255, 255, 0.3) 80%);

    padding: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;

    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 98;
    transition: .3s ease-in-out;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
}

.call-icon {
    width: 47px;
    height: 47px;
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, .3), 0 0 0 0 rgba(56, 163, 253, .2), 0 0 0 0 rgba(56, 163, 253, .2);
    }

    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, .3), 0 0 0 8px rgba(56, 163, 253, .2), 0 0 0 0 rgba(56, 163, 253, .2);
    }

    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, .3), 0 0 0 16px rgba(56, 163, 253, 0), 0 0 0 14px rgba(56, 163, 253, .067);
    }

    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, .3), 0 0 0 16px rgba(56, 163, 253, 0), 0 0 0 20px rgba(56, 163, 253, 0);
    }
}